[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "flowGraph"]
	path = flowGraph
	url = https://github.com/aya49/flowgraph
	shallow = true
	registered = true
